body {
    background: #000000;
}

.hex-row {
    clear: left;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.hex.even {
    margin-top: 53px;
}

.blankhexagon {
    position: relative;
    display: inline-block;
    /* left/right margin approx. 25% of .hexagon width + spacing */
    margin: -1px 16px;
    background-color: #000000;
    text-align: center;
}

.blankhexagon, .blankhexagon::before, .blankhexagon::after {
    /* easy way: height is width * 1.732
    actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
    remove border-radius for sharp corners on hexagons */
    width: 67px;
    height: 116px;
}

.blankhexagon::before, .blankhexagon::after {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
}

.blankhexagon::before {
    transform: rotate(-60deg);
}

.blankhexagon::after {
    transform: rotate(60deg);
}

.blankhexagon:nth-child(even) {
    /* top approx. 50% of .hexagon height + spacing */
    top: 59px;
}

.hexagon {
    position: relative;
    display: inline-block;
    /* left/right margin approx. 25% of .hexagon width + spacing */
    margin: -1px 16px;
    background-color: #3fffc1;
    text-align: center;
}

.hexagon, .hexagon::before, .hexagon::after {
    /* easy way: height is width * 1.732
    actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
    remove border-radius for sharp corners on hexagons */
    width: 67px;
    height: 116px;
}

.hexagon::before, .hexagon::after {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
}

.hexagon::before {
    transform: rotate(-60deg);
}

.hexagon::after {
    transform: rotate(60deg);
}

.hexagon:nth-child(even) {
    /* top approx. 50% of .hexagon height + spacing */
    top: 59px;
}

.hexagontent {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 140%;
    font-size: 1.4rem;
    line-height: 1.2;
    z-index: 100;
}

#square1 {
    background-color: aqua;
}

#square2 {
    background-color: azure;
}

#square3 {
    background-color: yellow;
}

#square4 {
    background-color: blue;
}

#square5 {
    background-color: green;
}

#square6 {
    background-color: red;
}

#square7 {
    background-color: purple;
}